table{
    border: 1;
}
td{
    border: 1px black solid;
    border-collapse:collapse;
    width: 30px;
    height: 30px;
}
td:hover{
    background-color: #DFE7F2;
    color: #000000;
}



#B_15, #B_16, #B_17{
    background-color: red;
}

#N_15, #N_16, #N_17{
    background-color: blue;
}